<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ACS v2 configuration -->
    <add key="AccessControlHostName" value="accesscontrol.windows.net"/>
    <add key="AccessControlNamespace" value="wcfwithacstest"/>

    <!-- Service configuration -->
    <!--<add key="ServiceAddress" value="http://127.0.0.1/Service1.svc" />-->
    <add key="ServiceAddress" value="http://localhost:64188/Service1.svc"/>
    <add key="ServiceCertificateFilePath" value="localhost.cer"/>

    <!-- Client configuration -->
    <add key="ClientCertificateFilePath" value="localhost.pfx"/>
    <add key="ClientCertificatePassword" value="password"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>